@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --bs-primary-bg-subtle: #00B601;
  --bs-secondary-bg-subtle:#FFD600;
  --bs-primary-border-subtle: #00B601;
  --bs-secondary-border-subtle : #FFD600;
}

body {
  font-family: 'Kumbh Sans', sans-serif !important;
  height: 100%;
  width: 100%;
}

.overlay{
 background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),url('assets/bg.png');
  background-size: cover;
  background-position: center;
}

.list-group {
    --bs-list-group-color: #000;
    --bs-list-group-bg: #D9D9D9;
    --bs-list-group-border-color: #D1D1D1;
    --bs-list-group-action-color: #000;
    --bs-list-group-action-hover-color: #000;
    --bs-list-group-action-hover-bg: #FFD600;
    --bs-list-group-action-active-color: #000;
    --bs-list-group-action-active-bg: #FFD600;
    --bs-list-group-active-color: #000;
    --bs-list-group-active-bg: #FFD600;
    --bs-list-group-active-border-color: #D1D1D1;
}

  /* Halaman Utama */
  .home {
      padding-bottom: 40px;
  }
  
  .home p {
      padding: 30px 0 250px 0;
      font-size: 40px;
      color: whitesmoke;
      text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
  }
  
  .btn-home {
      border-radius: 12px;
      border: solid 5px #00B601;
      background-color: #FFD600;
        text-align: center;
  text-decoration: none;
    display: inline-block;
      color: white;
      text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
      width: 250px;
      height: 50px;
      font-size: 20px;
  }

  @media (max-width: 576px) { 
    #logo {
      height: 50px;
    }
    #sideBar {
      overflow-x: hidden;
      z-index: 2;
      transition: all 5s;
    }
    #map {
      transition: 0.5s;
      z-index: 1;
  }
    .hide{
      width: 0;
      height: 0;
    }
   }
   